Importing the Required Packages

In [1]:
import numpy as np
import pandas as pd

Loading the dataset into the notebooks

In [2]:
# Loading the dataset
dataset = pd.read_csv("Data/new_retail_data.csv")

# Printing the top 5 rows of the dataset
dataset.head()

,Transaction_ID,Customer_ID,Name,Email,Phone,Address,City,State,Zipcode,Country,...,Total_Amount,Product_Category,Product_Brand,Product_Type,Feedback,Shipping_Method,Payment_Method,Order_Status,Ratings,products
0,8691788.0,37249.0,Michelle Harrington,Ebony39@gmail.com,1.414787e+09,3959 Amanda Burgs,Dortmund,Berlin,77985.0,Germany,...,324.086270,Clothing,Nike,Shorts,Excellent,Same-Day,Debit Card,Shipped,5.0,Cycling shorts
1,2174773.0,69749.0,Kelsey Hill,Mark36@gmail.com,6.852900e+09,82072 Dawn Centers,Nottingham,England,99071.0,UK,...,806.707815,Electronics,Samsung,Tablet,Excellent,Standard,Credit Card,Processing,4.0,Lenovo Tab
2,6679610.0,30192.0,Scott Jensen,Shane85@gmail.com,8.362160e+09,4133 Young Canyon,Geelong,New South Wales,75929.0,Australia,...,1063.432799,Books,Penguin Books,Children's,Average,Same-Day,Credit Card,Processing,2.0,Sports equipment
3,7232460.0,62101.0,Joseph Miller,Mary34@gmail.com,2.776752e+09,8148 Thomas Creek Suite 100,Edmonton,Ontario,88420.0,Canada,...,2466.854021,Home Decor,Home Depot,Tools,Excellent,Standard,PayPal,Processing,4.0,Utility knife
4,4983775.0,27901.0,Debra Coleman,Charles30@gmail.com,9.098268e+09,5813 Lori Ports Suite 269,Bristol,England,48704.0,UK,...,248.553049,Grocery,Nestle,Chocolate,Bad,Standard,Cash,Shipped,1.0,Chocolate cookies

In [3]:
init_shape = dataset.shape
print(f"Shape of the dataset: {init_shape}")

Shape of the dataset: (302010, 30)

# Data Cleaning and Preprocessing

1. Identification and Handling of Missing values

In [4]:
# Number of missing values in each column
print(f"Number of missing values in the dataset: \n{dataset.isnull().sum()}")

Number of missing values in the dataset:
Transaction_ID      333
Customer_ID         308
Name                382
Email               347
Phone               362
Address             315
City                248
State               281
Zipcode             340
Country             271
Age                 173
Gender              317
Income              290
Customer_Segment    215
Date                359
Year                350
Month               273
Time                350
Total_Purchases     361
Amount              357
Total_Amount        350
Product_Category    283
Product_Brand       281
Product_Type          0
Feedback            184
Shipping_Method     337
Payment_Method      297
Order_Status        235
Ratings             184
products              0
dtype: int64

In [5]:
# Handling the missing values according to their data types and their Distribution

# Rows that needed to be dropped
drop_rows = ["Transaction_ID", "Customer_ID", "Name",
             "Email", "Phone", "Address", "Date", "Year",
             "Month", "Time", "Product_Brand", "Order_Status"]
for col in drop_rows:
    dataset = dataset[dataset[col].notna()]

# Categorical Columns  
mode_col = ["City", "State", "Zipcode", "Country", "Gender", "Income",
            "Customer_Segment", "Total_Purchases", "Product_Category",
            "Feedback", "Shipping_Method", "Payment_Method"]
for col in mode_col:
    dataset[col] = dataset[col].fillna(dataset[col].mode()[0])

# Continous Columns and that are sensetive to outliers
median_col = ["Age", "Amount", "Total_Amount", "Ratings"]
for col in median_col:
    dataset[col] = dataset[col].fillna(dataset[col].median())

In [6]:
print(f"Shape of the dataset after handling missing values: {dataset.shape}")

Shape of the dataset after handling missing values: (298141, 30)

In [7]:
print(f"Number of the rows that are removed: {init_shape[0] - dataset.shape[0]}")

Number of the rows that are removed: 3869

In [8]:
# Data after handling missing values
dataset.isnull().sum()

Transaction_ID      0
Customer_ID         0
Name                0
Email               0
Phone               0
Address             0
City                0
State               0
Zipcode             0
Country             0
Age                 0
Gender              0
Income              0
Customer_Segment    0
Date                0
Year                0
Month               0
Time                0
Total_Purchases     0
Amount              0
Total_Amount        0
Product_Category    0
Product_Brand       0
Product_Type        0
Feedback            0
Shipping_Method     0
Payment_Method      0
Order_Status        0
Ratings             0
products            0
dtype: int64